.button {
  border: none ;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  margin: 3.2rem 0;
  cursor: pointer;
  transition: filter 0.2s;
}

.button:hover {
 filter: brightness(70%);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.red {
    background: var(--error);
  color: var(--text-over-primary);
}

.green {
    background: var(--primary);
  color: var(--text-over-primary);
}