.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.logoLink {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.1s ease-in-out;
}

.logoLink:hover {
  filter: brightness(70%);
}

.logoLink svg {
  width: 4.8rem;
  height: 4.8rem;

}